#nome {
    font-family: Arial, sans-serif;
    top: 10px;    
    left: 200px;
}

#email {
    display: block;
    font-family: Arial, sans-serif; 
    margin-top: 20px;
    left: 200px;
}

#assunto {
    display: block;
    font-family: Arial, sans-serif;
    margin-top: 30px;
    left: 200px;
}

#mensagem {
    display: block;
    font-family: Arial, sans-serif;
    margin-top: 40px;
    left: 200px;
}

#enviar {
    display: block;
    font-family: Arial, sans-serif;
    margin-top: 50px;
    left: 200px;
}
