#foto_eu {
    display: block;
    max-width: 100%; /* Garante que a imagem não quebre em telas menores */
    margin-top: 20px;
    margin-inline: auto; /* Centraliza horizontalmente elementos em bloco */
    
    /* Suas propriedades anteriores de borda e arredondamento */
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #000000;
}
body {
    background: linear-gradient(135deg, #0f172a 0%);
    color: #ffffff; /* Cor do Texto  */
}